.header {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	border-top: none;
	background-color: #118ab2;
	max-width: 100%;
	margin: auto;
	padding: 15px 10px;
	color: white;
	font-size: 1.2rem;
}

.header span {
	padding: 0px 10px;
	background-color: #4f81c7;
	margin-left: 5px;
	border-radius: 5px;
}
