.container {
	display: flex;
	flex-direction: column;
	max-width: 96%;
	margin: 5px auto;
	border: 1px solid gray;
	-webkit-box-shadow: -1px 0px 12px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 0px 12px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 0px 12px -1px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	height: 100%;
}

.job-details {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
	height: 150px;
}

.job-card {
	display: flex;
	flex-direction: row;
}
